# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Folder restriction
www/assets/uploads/
assets/alumni_pictures/
www/assets/alumni_pictures/
www/application.cfc